<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playpal | Error</title>
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/error.css">
</head>

<body>
    <div class="error-section-wrapper">
        <div class="error-section-heading">
            <h1><b>WHOOPS!</b></h1>
        </div>
        <div class="error-section-description">
            <p>Something unexpected occured.</p>
            <p>Details: ${errorMessage}</p>
        </div>
        <div class="error-section-buttons">
            <button class="btn btn-primary" onclick="window.location.href = '/';">Go Back To Home</button>
        </div>
    </div>
</body>

</html>